<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <h5 class="text-muted">Listado de clientes</h5>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a class="btn btn-info" [routerLink]="['/panel/clientes/registro']">Registrar nuevo</a></p>
    </div>
  </div>

<div class="card box-shadow-sm">
  <div class="card-header">
      <h5 style="margin-bottom: 0px;">Filtro de clientes</h5>
  </div>
  <div class="card-header">
      <form class="form-inline pt-2">
        <label class="sr-only" for="inline-form-input-name">Apellidos</label>
        <input class="form-control mb-3 mr-sm-4" (keyup)="filtro('apellidos')" type="text" name="filtro_apellidos" [(ngModel)]="filtro_apellidos" id="inline-form-input-name" placeholder="Apellidos">
        <label class="sr-only" for="inline-form-input-username">Email</label>
        <div class="input-group mb-3 mr-sm-4">
          <div class="input-group-prepend">
              <div class="input-group-text">@</div>
          </div>
          <input class="form-control" (keyup)="filtro('email')" type="text" name="filtro_email" [(ngModel)]="filtro_email" placeholder="Email">
        </div>
      </form>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="load_data">
              <tr>
                <td class="text-center" colspan="5">
                  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
              </tr>
            </tbody>
            <ng-container *ngIf="!load_data">
              <tbody  *ngFor="let cliente of clientes | slice: (page-1)*pageSize : (page-1)*pageSize + pageSize; let indice = index">
                <tr>
                  <td>{{cliente.dni}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellidos}}</td>
                  <td>{{cliente.email}}</td>
                  <td>
                    <div class="btn-group dropdown d-inline-block mb-3 mr-2">
                      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/panel/clientes', cliente._id]">Editar Cliente</a>
                        <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+cliente._id">Eliminar Cliente</a>
                      </div>
                    </div>
                    <div class="modal fade" id="delete-{{cliente._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Eliminar, {{cliente.nombre}} {{cliente.apellidos}}</h4>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                          </div>
                          <div class="modal-body">
                            <p>¿Está seguro de eliminar este cliente?</p>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary btn-sm" (click)="eliminar(cliente._id)" type="button">Eliminar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
      </div>
  </div>
  <div class="card-footer">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="clientes.length"
    ></ngb-pagination>
  </div>
</div>    