<footer class="cs-footer pt-sm-5 pt-4 bg-dark">
    <div class="container pt-3">
      <div class="row pb-sm-2">
        <div class="col-6 col-sm-3 col-lg-2 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Ayuda</h3>
          <ul class="nav nav-light flex-column">
            <li class="nav-item mb-2">
              <a href="https://www.thenorthface.es/help/return-policy.html" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal" target="_blank">Política de devolución</a>
            </li>
            <li class="nav-item mb-2">
              <a [routerLink]="['/contacto']" routerLinkActive="router-link-active" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
          <ul class="nav nav-light flex-column pl-xl-6">
            <li class="nav-item mb-2">
              <span class="text-light mr-1"><i class="cxi-map-pin-outline"></i></span>
              <a href="https://www.google.com/maps/place/Centro+de+Formaci%C3%B3n+Profesional+Juan+XXIII/@40.347709,-3.827716,15z/data=!4m5!3m4!1s0x0:0x7199fb37c5505389!8m2!3d40.347709!4d-3.827716" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal" target="_blank">Localización</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
          <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Contáctanos</h3>
          <ul class="nav nav-light flex-column pb-3">
            <li class="nav-item text-nowrap mb-2">
              <span class="text-light mr-1"><i class="cxi-iphone"></i></span>
              <a href="tel:918281904" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">91 828 19 04</a>
            </li>
            <li class="nav-item text-nowrap mb-2">
              <span class="text-light mr-1"><i class="cxi-mail"></i></span>
              <a href="https://mail.google.com/" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal" target="_blank">buy_it_outlet_alcorcon@gmail.com</a>
            </li>
            <li>
              <span class="text-light mr-1"><i class="cxi-whatsapp"></i></span>
              <a href="https://www.whatsapp.com/?lang=es" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal" target="_blank">647 64 19 74</a>
            </li>
          </ul>
          <a href="https://www.facebook.com/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-instagram"></i>
          </a>
          <a href="https://www.twitter.com/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-twitter"></i>
          </a>
          <a href="https://www.youtube.com/" class="social-btn sb-solid sb-light mr-2" target="_blank">
            <i class="cxi-youtube"></i>
          </a>
          <a href="https://www.skype.com/" class="social-btn sb-solid sb-light" target="_blank">
            <i class="cxi-skype"></i>
          </a>
        </div>
        <div class="col-lg-4 col-xl-3 mb-4">
          <h3 class="h6 mb-3 pb-1 text-uppercase text-light">Descarga nuestra app</h3>
          <div class="d-flex flex-wrap flex-sm-nowrap">
            <a href="https://www.apple.com/es/app-store/" class="btn-market btn-apple mb-3 mr-3" role="button" target="_blank">
              <span class="btn-market-subtitle">Descarga en</span>
              <span class="btn-market-title">App Store</span>
            </a>
            <a href="https://play.google.com/store" class="btn-market btn-google mb-3" role="button" target="_blank">
              <span class="btn-market-subtitle">Descarga en</span>
              <span class="btn-market-title">Google Play</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top border-light text-center">
      <div class="container py-4">
        <div class="text-light">
          <span>&copy; </span>
          <span>Jaime Castiblanque </span> 
          <i class="cxi-profile mt-n1 mx-1 font-size-base text-primary align-middle"></i>
          <span class="text-light" rel="noopener noreferrer">Desarrollador Web&nbsp;&nbsp;</span>
          <a href="https://www.linkedin.com/in/jaime-castiblanque-garc%C3%ADa-aranda-941b63178/" class="cxi-linkedin" style="text-decoration: none;" target="_blank"></a>
        </div>
      </div>
    </div>
  </footer>